<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/images.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Nikolay Petrov. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="/img/ferrari.jpg">
    </div>

    {{>footer}}
</body>

</html>