<!DOCTYPE html>
<html>

<head>
    <title>Meme</title>
    <link rel="icon" href="/img/images.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p>{{text1}}</p>
        <p>{{text2}}</p>
        <img src="/img/a52.jpg">
    </div>

    {{>footer}}
</body>

</html>